<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información del Desarrollador</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-avatar slot="start">
          <ion-img src="assets/foto.jpg"></ion-img>
        </ion-avatar>
        <ion-label>
          Nombre: Eimy Laura
          <br>
          Apellido: Figueroa  Ramirez
          <br>
          Matrícula: 2020-9190
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Reflexión sobre la Guerra</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>"La guerra causa daño a todos, sin importar de qué lado estés. En lugar de luchar, deberíamos esforzarnos por entendernos y buscar la paz. La verdadera victoria radica en la armonía y la cooperación entre las personas".</p>
    </ion-card-content>
  </ion-card>
</ion-content>
